.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 2.0rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover {
    box-shadow: 0 7px 9px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    z-index: 9999;
}

.form-control {
    width: 90%;
    padding: 0.500rem 1.0rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #ced4da;
    border-radius: 1.0rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control-correct {
    width: 90%;
    padding: 0.500rem 1.0rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #28a745;
    border-radius: 1.0rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control.valid {
    width: 90%;
    padding: 0.500rem 1.0rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #28a745;
    border-radius: 1.0rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.error {
    color: red!important;
}

.form-control-error {
    width: 90%;
    padding: 0.500rem 1.0rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #dc3545;
    border-radius: 1.0rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control.error {
    border: 2px solid #dc3545;
}

img:hover {
    vertical-align: middle;
    border-style: none;
    box-shadow: 0 13px 16px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    z-index: 9999;
}

.btn-indigo {
    color: #fff;
    background-color: #6610f2;
    border-color: #6610f2;
}

.btn-blue {
    color: #fff;
    background-color: #007bff;
}

.btn-indigo {
    color: #fff;
    background-color: #6610f2;
    border-color: #6610f2;
}

.btn-purple {
    color: #fff;
    background-color: #6f42c1;
    border-color: #6f42c1;
}

.btn-pink {
    color: #fff;
    background-color: #e83e8c;
    border-color: #e83e8c;
}

.btn-red {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-orange {
    color: #fff;
    background-color: #fd7e14;
    border-color: #fd7e14;
}

.btn-yellow {
    color: #fff;
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-green {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-teal {
    color: #fff;
    background-color: #20c997;
    border-color: #20c997;
}

.btn-cyan {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-white {
    color: rgb(2, 2, 2);
    background-color: #fff;
    border-color: #fff;
}

.btn-gray {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-gray-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.btn-secondary {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.btn-light {
    color: #fff;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.card {
    padding-left: 50px;
    padding-right: 50px;
}

.card:hover {
    box-shadow: 0 27px 29px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    z-index: 999;
}

nav {
    z-index: 1001 !important;
}

#colored-icon i {
    color: #fff;
}

#colored-icon i:nth-child(1) {
    background: #ff6400;
}

#colored-icon i:nth-child(2) {
    background: #d54f38;
}

#colored-icon i:nth-child(3) {
    background: #eb4d7e;
}

#colored-icon i:nth-child(4) {
    background: #d138c8;
}

#colored-icon i:nth-child(5) {
    background: #bd73ff;
}

#colored-icon i:nth-child(6) {
    background: #0074d6;
}

.btn-outline-indigo {
    color: #6610f2 !important;
    background-image: none;
    font-weight: bold;
    border-color: #6610f2 !important;
}

.btn-outline-indigo:hover {
    color: #fff !important;
    background-color: #6610f2;
    border-color: #6610f2;
}

.btn-outline-purple {
    color: #fff;
    font-weight: bold;
    font-weight: bold;
    background-color: transparent;
    background-image: none;
    border-color: #6f42c1;
}

.btn-outline-pink {
    color: #fff;
    font-weight: bold;
    background-color: transparent;
    background-image: none;
    border-color: #e83e8c;
}

.btn-outline-red {
    color: #fff;
    font-weight: bold;
    background-color: transparent;
    background-image: none;
    border-color: #dc3545;
}

.btn-outline-orange {
    background-color: transparent;
    background-image: none;
    font-weight: bold;
    border-color: #fd7e14;
    color: #fff;
}

.btn-outline-yellow {
    background-color: transparent;
    background-image: none;
    font-weight: bold;
    color: #fff;
    border-color: #ffc107;
}

.btn-outline-green {
    background-color: transparent;
    background-image: none;
    font-weight: bold;
    color: #fff;
    border-color: #28a745;
}

.btn-outline-teal {
    background-color: transparent;
    background-image: none;
    font-weight: bold;
    color: #fff;
    border-color: #20c997;
}

.btn-outline-cyan {
    background-color: transparent;
    background-image: none;
    font-weight: bold;
    color: #fff;
    border-color: #17a2b8;
}

.btn-outline-gray-dark {
    background-color: transparent;
    background-image: none;
    font-weight: bold;
    border-color: #6f42c1;
    color: #fff;
    border-color: #343a40;
}

p .btn-outline-secondary {
    background-color: transparent;
    background-image: none;
    font-weight: bold;
    color: #fff;
    border-color: #343a40;
}

.btn-outline-dark {
    background-color: transparent;
    background-image: none;
    font-weight: bold;
    color: #fff;
    border-color: #343a40;
}

.btn-outline-purple:hover {
    color: #fff;
    background-color: #6f42c1;
    border-color: #6f42c1;
}

.btn-outline-pink:hover {
    color: #fff;
    background-color: #e83e8c;
    border-color: #e83e8c;
}

.btn-outline-red:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-outline-orange:hover {
    color: #fff;
    background-color: #fd7e14;
    border-color: #fd7e14;
}

.btn-outline-yellow:hover {
    color: #fff;
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-outline-green:hover {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-outline-teal:hover {
    color: #fff;
    background-color: #20c997;
    border-color: #20c997;
}

.btn-outline-cyan:hover {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-outline-white:hover {
    color: rgb(2, 2, 2);
    background-color: #fff;
    border-color: #fff;
}

.btn-outline-gray:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-outline-gray-dark:hover {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.btn-outline-light:hover {
    color: #fff;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-outline-dark:hover {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}