body {
    background-color: rgb(224, 222, 222);
    background-image: url('../img/user/loginback.jpg');
    background-size: 100% 100%;
}

#h2 {
    font-weight: 900;
    padding-left: 100;
}

#hea {
    align-items: center;
}

#loginImg {
    background-size: 100% 100%;
}