#profileImg {
    width: 100px;
    height: 50px;
}

#modalImage {
    width: 20px;
    height: 20px;
}

#quantity {
    width: 50%;
    padding: 0.500rem 1.0rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #ced4da;
    border-radius: 2.0rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


/* Your custom styles */

.dropdown-item:hover {
    background-color: #007bff !important;
}

.card-title {
    font-weight: bold;
}

body {
    background: rgb(238, 238, 238);
    font-family: "Lato", sans-serif;
    z-index: 1;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #007bff !important;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 200px;
    /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

#adminImg {
    width: 100%;
    height: 200px;
}

#dashboardId {
    background-color: #007bff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    padding-right: 15px;
}

#calander {
    z-index: 9999;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.card {
    box-shadow: 0 10px 17px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    z-index: 1000;
}

#calCar {
    background-color: rgb(253, 253, 253);
}

.slidenav a {
    width: 100%;
}

#dropp {
    background-color: #007bff;
}

#cardImg {
    width: 40%;
    height: 80px;
    align-items: center;
    background: none;
    background-image: none;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}

#cardModalImg {
    width: 10%;
    height: 80px;
    align-items: center;
}

label.thicker {
    font-weight: bold;
}

.dropzone {
    width: 75%;
    height: 100px;
    border: 2px dashed #ccc;
    color: #ccc;
    line-height: 50px;
    text-align: center;
}

.dropzone.dragover {
    border-color: #000;
    color: #000;
}

#formId {
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
}

.nav-item active {
    background-color: #030608;
}

a {
    color: #000;
}

a:hover {
    color: rgb(252, 252, 252);
}

#showImage {
    width: 100px;
    height: 100px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

#usernav {
    width: 50px;
    height: 50px;
}

.auth {
    color: #000;
    align-content: center;
}

#tab1 {
    align-content: left;
}

h6 {
    color: rgb(255, 255, 255);
}

#navId {
    color: rgb(250, 250, 250);
}

#navId:hover {
    color: #030608;
}

#carouselImg {
    width: 100%;
    height: 90%;
    padding-top: 4%;
    padding-left: 2%;
    padding-right: 2%;
}

nav {
    background: rgb(30, 87, 153);
    /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(30, 87, 153, 1) 0%, rgba(41, 137, 216, 1) 0%, rgba(130, 150, 255, 1) 33%, rgba(201, 210, 255, 1) 50%, rgba(130, 150, 255, 1) 70%, rgba(130, 150, 255, 1) 72%, rgba(130, 150, 255, 1) 72%, rgba(32, 124, 202, 1) 100%, rgba(125, 185, 232, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(30, 87, 153, 1) 0%, rgba(41, 137, 216, 1) 0%, rgba(130, 150, 255, 1) 33%, rgba(201, 210, 255, 1) 50%, rgba(130, 150, 255, 1) 70%, rgba(130, 150, 255, 1) 72%, rgba(130, 150, 255, 1) 72%, rgba(32, 124, 202, 1) 100%, rgba(125, 185, 232, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(30, 87, 153, 1) 0%, rgba(41, 137, 216, 1) 0%, rgba(130, 150, 255, 1) 33%, rgba(201, 210, 255, 1) 50%, rgba(130, 150, 255, 1) 70%, rgba(130, 150, 255, 1) 72%, rgba(130, 150, 255, 1) 72%, rgba(32, 124, 202, 1) 100%, rgba(125, 185, 232, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

#butNav {
    color: #fff;
    background-color: rgba(41, 137, 216, 1);
    border-color: rgba(41, 137, 216, 1);
}

#foodItems {
    background: rgb(168, 168, 168);
}

#Imagecardfor {
    width: 100px;
    height: 100px;
}

#adoutusIma {
    width: 75%;
}

#adoutp {
    float: center;
}

#aboutlabel {
    text-align: center;
    float: center;
}

#aboutus {
    background-image: url("/storage/upload/shoplogo/{{ $shops->shoplogo }}");
    background-color: rgb(238, 238, 238);
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease-out;
}

#aboutus.fade-in {
    opacity: 1;
}

#addcartlist {
    widows: 500px;
}

.formcontrol #Qtyinput {
    font-size: 0.75rem !important;
    line-height: 1 !important;
}

#commentIma {
    width: 100%;
    height: 10%;
}

#commentImaTd {
    width: 10%;
}

.quantityTitle {
    width: 15% !important;
}

#commentImaEmail {
    width: 30%;
}

#commentTime {
    width: 10%;
}

.welcomeCard {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease-out;
}

.welcomeCard.fade-in {
    opacity: 1;
}

.hide {
    opacity: 0;
    visibility: hidden;
    transition: all 1s ease-out;
}

.show {
    opacity: 1;
    transition: all 3s ease-out;
}

.orderform {
    background-color: rgb(236, 236, 236);
    padding-left: 10px;
    padding-right: 10px;
}