/* Your custom styles */

.dropdown-item:hover {
    background-color: #007bff !important;
}

.card-title {
    background-color: #007bff;
}

body {
    background: rgb(223, 223, 223);
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #007bff !important;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 200px;
    /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

#adminImg {
    width: 100%;
    height: 200px;
}

#dashboardId {
    background-color: #007bff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    padding-right: 15px;
}

#calander {
    z-index: 9999;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.card {
    box-shadow: 0 5px 7px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

#calCar {
    background-color: rgb(253, 253, 253);
}

.slidenav a {
    width: 100%;
}

#dropp {
    background-color: #007bff;
}

#cardImg {
    width: 40%;
    height: 80px;
    align-items: center;
}

#cardModalImg {
    width: 10%;
    height: 80px;
    align-items: center;
}

label.thicker {
    font-weight: bold;
}

.dropzone {
    width: 75%;
    height: 100px;
    border: 2px dashed #ccc;
    color: #ccc;
    line-height: 50px;
    text-align: center;
}

.dropzone.dragover {
    border-color: #000;
    color: #000;
}

#formId {
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
}

.nav-item active {
    background-color: #030608;
}

a {
    color: #000;
}

#showImage {
    width: 100px;
    height: 100px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.card {
    padding-left: 50px;
    padding-right: 50px;
}

#usernav {
    width: 50px;
    height: 50px;
}

#profileImg {
    width: 100%;
    height: 300px;
}

.auth {
    color: #000;
    align-content: center;
}

#tab1 {
    align-content: left;
}

h6 {
    color: rgb(255, 255, 255);
}

#navId {
    color: white;
}